
html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

.main-header {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 164, 243);
    }

header h1 {
    font-size: 40px;
    padding: 30px;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    
}


.main-page-sections {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.About{
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;

    scroll-margin-block-start: 110px;

    scroll-margin-block-end: 110px   

}

.Work {
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;

    scroll-margin-block-start: 110px;

    scroll-margin-block-end: 110px
}

.Abstract-image {
    width: 100%;
}

.Contact {
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;

    scroll-margin-block-start: 110px;

    scroll-margin-block-end: 110px
}   

h2 {
    padding: 10px;
}

.fullheight-container {
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }