/* Page scrolling functionality */
html {
    scroll-behavior: smooth;
}

/* Page sizing */
html, body {
    font-family:'Times New Roman', Times, serif
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

/* Main header class styling attributes */
.main-header {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 164, 243);
    }

/* Header text attributes */
header h1 {
    font-size: 40px;
    padding: 30px;
    
}

/* Header image formatting */
.header-image {
    display: flex;
    object-position: bottom center;
    float: left;
    width: 15%;
    max-width: 100%;
}
/* Navigation button formatting */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
/* Navigation button font size */
nav a {
    font-size: 20px;
    
}

/* Main page formatting attributes */
.main-page {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

/* Main page sections formatting attributes */
.main-sections{
    background-color: rgb(216, 164, 243);
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;

    scroll-margin-block-start: 110px;

    scroll-margin-block-end: 110px   

}

/* Section names text padding */
h2 {
    padding: 5%;
}

/* Space on screen each section holds */
.fullheight-container {
    height: 100%;
}

/* Accessibility project image formatting */
.Accessibility-project-image {
    width: 100%;
    max-width: 100%;
}

/* Prework study guide image formatting */
.Prework-study-guide-image{
    width:50%;
    max-width: 100%;

}

/* Future project images formatting */
.Future-project-image{
    width:25%;
    max-width: 100%;

} 

/* Responsive page style */

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .main-header{
        display: flex;
        flex-wrap: wrap;
    }
    .header-image {
        width: 70%;
    }
    .main-page,
    .main-sections,
    .fullheight-container {
        width: 100%;
    }
}
