

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

header {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }

html {
    scroll-behavior: smooth;
}

.section-page {
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;

    scroll-margin-block-start: 110px;

    scroll-margin-block-end: 110px;
}

p {

}

a {

}